.img{
    border-radius: 50%;
    
        display: block;
        margin-left: auto;
        margin-right: auto; 
      
}
.job{
    letter-spacing:2px;
    color: rgb(45, 127, 220);
}
.card {
    margin: 0 auto; 
    float: none;
    margin-top: 100px;    
}
.uu{
    text-decoration: underline;
    text-decoration-color: rgb(15, 141, 190);
    text-underline-offset: 0.2em;
    background-position: bottom center; 
}
.hov{
    background-color: transparent;
    color: rgb(45, 127, 220);
}
.hov:hover{
    background-color: sky blue !important;
    color: black !important;
}
.img{
    border:5px solid rgb(14, 150, 203);
}